{% extends 'base.html' %}

{% block title %}

    Resultados de Exames - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Resultados de Exames</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'exams:add_exam' %}">Registrar Resultado de Exame</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Talao</th>
                    <th scope="col">Data de Realizacao</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam in exams %}
                        <tr>
                            <th scope="row">{{ exam.id }}</th>
                            <td>{{ exam.schedule }}</td>
                            <td>{{ exam.date }}</td>
                            <td>{{ exam.pacient }}</td>
                            <td>{{ exam.status }}</td>
                            <td>
                                <a href="{% url 'exams:edit_exam' exam.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>    
                                <a href="{% url 'exams:delete_exam' exam.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}